{%extends 'base.html'%}
{% block title %} Подтверждение сброса пароля {% endblock %}
{%block content%}

<div >
	<form method="post" >
	  {% csrf_token %}
	  <h2>Подтверждение сброса пароля</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  
	  <div>
	    <button type="submit" >Сброс пароля</button>
		<a href="{%url 'user:login' %}">Cancel</a>
		
	  </div>
	</form>
</div>


{%endblock content%}